#containerToFillWithCasherDataMonday,
#containerToFillWithCasherDataTuesday,
#containerToFillWithCasherDataWednesday,
#containerToFillWithCasherDataThursday,
#containerToFillWithCasherDataFriday,
#containerToFillWithCasherDataSaturday,
#containerToFillWithCasherDataSunday{
    font-size: x-small;
}


@media print{
   #containerToFillWithCasherDataMonday,
   #containerToFillWithCasherDataTuesday,
   #containerToFillWithCasherDataWednesday,
   #containerToFillWithCasherDataThursday,
   #containerToFillWithCasherDataFriday,
   #containerToFillWithCasherDataSaturday,
   #containerToFillWithCasherDataSunday{
    font-size: x-small;
} 
body > header,
body > div.input-group.mb-3{
    display: none;
}
.container,
#evaluation {
    page-break-before: always;
    max-width: 100%;
}
}

.breakTimeDiv{
    max-height: 300px;
    margin-top: 20px;
}
/* Popup Window Styles */
.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 80%;
    /* Full width */
    height: 50%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Popup Content */
.popup div {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}