#containerToFillWithCasherDataMonday,
#containerToFillWithCasherDataTuesday,
#containerToFillWithCasherDataWednesday,
#containerToFillWithCasherDataThursday,
#containerToFillWithCasherDataFriday,
#containerToFillWithCasherDataSaturday,
#containerToFillWithCasherDataSunday{
    font-size: x-small;
}


@media print{
   #containerToFillWithCasherDataMonday,
   #containerToFillWithCasherDataTuesday,
   #containerToFillWithCasherDataWednesday,
   #containerToFillWithCasherDataThursday,
   #containerToFillWithCasherDataFriday,
   #containerToFillWithCasherDataSaturday,
   #containerToFillWithCasherDataSunday{
    font-size: x-small;
} 
body > header,
body > div.input-group.mb-3{
    display: none;
}
.container,
#evaluation {
    page-break-before: always;
    max-width: 100%;
}
}

.breakTimeDiv{
    max-height: 300px;
    margin-top: 20px;
}
